<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
        <a class="navbar-brand" routerLink="/">Dating App</a>
       
      <ng-container>
       
          <ul class="navbar-nav mr-auto" *ngIf="accountservices.currentUser$|async" >
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Matches </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLinkActive='active' routerLink='/Members'>Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive='active' routerLink='/lists'>List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" routerLinkActive='active' routerLink='/messages' tabindex="-1" aria-disabled="true">Messages</a>
            </li>
            <li *appHasRole='["Admin","Moderator"]' class="nav-item">
              <a class="nav-link disabled" routerLinkActive='active' routerLink='/admin' tabindex="-1" aria-disabled="true">Admin</a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" routerLinkActive='active' routerLink='/errors' >Errors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" (click)="LogOut()">LogOut</a>
            </li>
          </ul>
          <div class="dropdown" *ngIf="(accountservices.currentUser$|async) as user" dropdown>
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.userName}}">
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.knownAs || user.userName}}</a>
            <div class="dropdown-menu mt-2" *dropdownMenu>
              <a class="dropdown-item" routerLink="Member/edit" >Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="LogOut()">LogOut</a>
            </div>
          </div>
          <form loginForm="ngForm" *ngIf="(accountservices.currentUser$|async) === null" class="form-inline mt-2 mt-md-0" (ngSubmit)="Login()" autocomplete="off">
            <input name="Username" [(ngModel)]="model.Username"
            class="form-control mr-sm-2" 
            type="text"
             placeholder="User Name">
            <input name="password" [(ngModel)]="model.Password"
            class="form-control mr-sm-2" type="password" placeholder="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
          </form>
        </ng-container>
      
       
        </div>
   

      
         
   
  </nav>